doctype html
html(lang='fa', dir='rtl')
    head
        meta(charset='UTF-8')
        title گلاب معراج
        link(href='assets/css/main.css', type='text/css', rel='stylesheet')
    body
        #header
            .top-header
                .clearfix
                    .logo-wrapper
                        .logo-img
                            img.logo-text(src='assets/img/logo.png', alt='meraj golab brand')
                        .description-wrapper
                            img.logo-name(src='assets/img/title.png', alt='meraj title')
                            p.logo-description با 30 سال سابقه تولید انواع گلاب و عرقیجات
                            p.logo-description به صورت صنعتی و سنتی
                    .contact-wrapper
                        .contact-title-wrapper
                            img.call-icon(src='assets/img/call.png', alt='call icon')
                            p.contact-title شماره واحد فــروش
                        p.contact-number 031-55 44 8020 / 0913 263 1880
                        a.social-link(href='#')
                            .telegram-wrapper
                                img.telegram-icon(src='assets/img/telegram.png', alt='telegram icon')
                                p.telegram-id کانال تلگرام گلاب معراج
                        a.social-link(href='#')
                            .instagram-wrapper
                                img.instagram-icon(src='assets/img/instagram.png', alt='inestagram icon')
                                p.instagram-id اینستاگرام گلاب معراج
            .navbar-top
                ul.clearfix
                    li
                        a(href='#') صفحه اصلی
                    li
                        a(href='#') درباره ما
                    li
                        a(href='#') محصولات
                    li
                        a(href='#') مقالات
                    li
                        a(href='#') درخواست نمایندگی
                    li
                        a(href='#') افتخارات
                    li
                        a(href='#') تماس با ما
        #sidebar
            .sidebar-lead
                h1.articles مقالات
            .new-productions
                h2.productions-lead جدید ترین محصول ها
                ul
                    li
                        a(href='#') جدید ترین محصولات ترکیبی
                    li
                        a(href='#') بهترین عرقیجات روز
                    li
                        a(href='#') آرامبخش ترین دارو های گیاهی
                    li
                        a(href='#') درمان سریع بیماری ها
                    li
                        a(href='#') تصفیه خون با عرقیجات گیاهی
            .about-productions
                h2.about-productions-lead درباره محصولات
                ul
                    li
                        a(href='#') عرق نعنا وخواص آن
                    li
                        a(href='#') خواص گلاب
                    li
                        a(href='#') عرق زیره برای چه مفید است؟
                    li
                        a(href='#') درمان سریع بیماری بوسیله عرق شوید
                    li
                        a(href='#') تصفیه خون با عرقیجات گیاهی
        #article-container
            .article-wrapper
                .article
                    h2 عرق زنیان برای چه مفید است؟
                    img(src='assets/img/article-img1.png', alt='article-img')
                    p
                        | سال گذشته گوگل توانست با دوربین گوگل پیکسل تحسین همه را برانگیزد. دوربینی که حداقل از نظر سخت‌افزاری روی کاغذ بهترین دوربین نبود، ولی با اتکا به پردازش نرم‌افزاری قدرتمند گوگل می‌توانست عکس‌هایی بسیار خوب بگیرد. امسال گوگل در دور به گرفتن عکس‌های HDR یا High Dynamic Range با دوربین آیفون و آیپد قابلیت جدیدی نیست، ولی شاید در آیفون 8 و آیفون 8 پلاس برای اولین بار شما را شگفت زده کند.
                    .read-more
                        a(href='#') ادامه مطلب
                .article
                    h2 متخصص طب سنتی لیست کامل عرقیات عرقیجات عرق ادور
                    img(src='assets/img/article-img2.png', alt='article-img')
                    p
                        | سال گذشته گوگل توانست با دوربین گوگل پیکسل تحسین همه را برانگیزد. دوربینی که حداقل از نظر سخت‌افزاری روی کاغذ بهترین دوربین نبود، ولی با اتکا به پردازش نرم‌افزاری قدرتمند گوگل می‌توانست عکس‌هایی بسیار خوب بگیرد. امسال گوگل در دور به گرفتن عکس‌های HDR یا High Dynamic Range با دوربین آیفون و آیپد قابلیت جدیدی نیست، ولی شاید در آیفون 8 و آیفون 8 پلاس برای اولین بار شما را شگفت زده کند.
                    .read-more
                        a(href='#') ادامه مطلب
            .article-wrapper
                .article
                    h2 برخی از محصولات شرکت گلاب معراج
                    img(src='assets/img/article-img3.png', alt='article-img')
                    p.article-text
                        | سال گذشته گوگل توانست با دوربین گوگل پیکسل تحسین همه را برانگیزد. دوربینی که حداقل از نظر سخت‌افزاری روی کاغذ بهترین دوربین نبود، ولی با اتکا به پردازش نرم‌افزاری قدرتمند گوگل می‌توانست عکس‌هایی بسیار خوب بگیرد. امسال گوگل در دور به گرفتن عکس‌های HDR یا High Dynamic Range با دوربین آیفون و آیپد قابلیت جدیدی نیست، ولی شاید در آیفون 8 و آیفون 8 پلاس برای اولین بار شما را شگفت زده کند.
                    .read-more
                        a(href='#') ادامه مطلب
                .article
                    h2 خواص عرقیات گیاهی با برند سنتی
                    img(src='assets/img/article-img4.png', alt='article-img')
                    p
                        | سال گذشته گوگل توانست با دوربین گوگل پیکسل تحسین همه را برانگیزد. دوربینی که حداقل از نظر سخت‌افزاری روی کاغذ بهترین دوربین نبود، ولی با اتکا به پردازش نرم‌افزاری قدرتمند گوگل می‌توانست عکس‌هایی بسیار خوب بگیرد. امسال گوگل در دور به گرفتن عکس‌های HDR یا High Dynamic Range با دوربین آیفون و آیپد قابلیت جدیدی نیست، ولی شاید در آیفون 8 و آیفون 8 پلاس برای اولین بار شما را شگفت زده کند.
                    .read-more
                        a(href='#') ادامه مطلب
            .pagination-wrapper
                ul.pagination
                    li
                        a(href="#")
                            i.fa.fa-caret-right
                    li
                        a(href="#") 1
                    li
                        a(href="#") 2
                    li
                        a(href="#") 3
                    li
                        a(href="#") 4
                    li
                        a(href="#") 5
                    li
                        a(href="#")
                            i.fa.fa-caret-left
