#article-container{
    width: 67%;
    padding: 90px 4% 0 4%;
    float: right;
}
#article-container .article-wrapper{
    display: block;
    margin-top: 15px;
}
#article-container .article-wrapper .article{
    display: inline-block;
    width: 43%;
    min-height: 400px;
    margin: 0 2% 10px 2%;
    background: white;
    position: relative;
    border: 1px solid #eaeaea;
    box-shadow: 1px 1px #d0d0d0;
    border-radius: 1px;
}
#article-container .article-wrapper .article h2{
    color: #e6537c;
    padding: 15px 30px 15px 30px;
    font-size: 12px;
    font-weight: bold;
}
#article-container .article-wrapper .article img{
    width: 100%;
    max-height:180px ;
}
#article-container .article-wrapper .article p{
    padding:10px 12px;
    font-size: 12px;
    line-height: 20px;
}
#article-container .article-wrapper .article .read-more{
    background: #e6537c;
    display: inline;
    border-radius: 10px;
    padding: 4px 15px;;
    position: absolute;
    left: 10px;
    bottom: 10px;
}
#article-container .article-wrapper .article .read-more a{
    width: 100%;
    color: white;
    font-size: 12px;
}
#article-container .article-wrapper .article .read-more a:after{
    content:">";
    color: white;
    font-size: 12px;
}
#article-container .article-wrapper .article .read-more:hover{
    background: white;
}
#article-container .article-wrapper .article .read-more:hover a{
    color: #e6537c;
}
#article-container .article-wrapper .article .read-more:hover a:after{
    color: #e6537c;
}
#article-container .pagination{
    width: 60%;
    float: right;
    margin: auto;
}
#article-container .pagination .pagination-wrapper{
    width: 50%;
    margin: 20px auto;
    float: left;
}

#article-container .pagination .pagination-wrapper .page-number{
    border: 1px solid #636363;
    border-radius: 6px;
    width: 30%;
    padding:4px 6px;
}
#article-container .pagination .pagination-wrapper a{
    color: #636363;
    height: 13px;
    float: left;
    margin: 0 2% !important;
    font-size: 12px;
    font-weight: bold;
    display: block;
}
#article-container .pagination .pagination-wrapper .fa-caret-right:before {
    width: 42%;
    margin: auto;
    display: table;
    font-size: 12px;
    font-weight: bold;
}
#article-container .pagination .pagination-wrapper .fa-caret-left:before {
    width: 35%;
    margin: auto;
    display: table;
    font-size: 12px;
    font-weight: bold;
}
#article-container .pagination .pagination-wrapper .page-number:hover{
    border: 1px solid #e6537c;
    color: #e6537c;
}
#article-container .pagination .pagination-wrapper .page-number:hover .fa-caret-left:before{
    color: #e6537c !important;
}