#header {
    width: 100%;
    background: #f5f5f5;
}
#header .top-header .logo-wrapper {
    float: right;
    padding: 20px 70px 0 20px;
}
#header .top-header .logo-wrapper .logo-img {
    float: right;
    padding-left: 20px;
}
#header .top-header .logo-wrapper .description-wrapper {
     float: right;
     padding-right: 20px;
    border-right: 1px solid #bbb;
    margin-top: 26px;
 }
#header .top-header .logo-wrapper .description-wrapper .logo-description {
    color: #777;
    font-size: 14px;
    padding: 3px 0;
}
#header .top-header .contact-wrapper {
     float: left;
    padding: 20px 20px 0 50px;
    direction: ltr;
 }
#header .top-header .contact-wrapper .contact-title-wrapper {
    padding: 8px;
    background: #f23d3d;
    border-radius: 4px;
    position: relative;
    display: inline-block !important;
}
#header .top-header .contact-wrapper .contact-number {
    font-size: 14px;
    color: #777;
    padding: 4px;
    margin-top: 3px;
}
#header .top-header .contact-wrapper .contact-title-wrapper .contact-title {
    color: white;
    direction: rtl;
    display: inline;
    margin-left: 20px;
    font-size: 14px;
}
#header .top-header .contact-wrapper .contact-title-wrapper .call-icon {
    position: absolute;
    left: 5px;
    display: block;
    bottom: 4px;
}
#header .top-header .contact-wrapper .telegram-wrapper {
    border: 1px solid #2ca5e0;
    border-right: 1px solid #37a9e1;
    border-radius: 15px;
    position: relative;
    padding: 6px 5px 6px 30px;
    margin-top: 5px;
}
#header .top-header .contact-wrapper .telegram-wrapper .telegram-icon {
    position: absolute;
    border-radius: 15px;
    left: -1px;
    top: -1px;
}
#header .top-header .contact-wrapper .telegram-wrapper .telegram-id {
    font-size: 15px;
    color: #777;
}
#header .top-header .contact-wrapper .instagram-wrapper {
    border: 1px solid;
    border-radius: 5px;
    border-image: linear-gradient(to right ,#df2560,#fcb951);
    border-image-slice: 2;
    position: relative;
    padding: 6px 5px 6px 30px;
    margin-top: 10px;
}
#header .top-header .contact-wrapper .instagram-wrapper .instagram-icon {
    position: absolute;
    border-radius: 6px;
    left: -1px;
    top: -1px;
    background: #2ca5e0;
}
#header .top-header .contact-wrapper .instagram-wrapper .instagram-id {
    font-size: 15px;
    color: #777;
}
#header .top-header .contact-wrapper .social-link {

}
#header .navbar-top {
    background: white;
}
#header .navbar-top ul{
    list-style: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
#header .navbar-top ul li{
    float: right;
    padding: 18px 10px;
}
#header .navbar-top ul li a{
    color: #777777;
}
#header .navbar-top ul li:hover{
    background: #f5f5f5;
    border-radius: 4px;
}
#header .navbar-top ul li:hover a{
    color: #a560e8;
}