#sidebar{
    width: 20%;
    padding:30px 5% 0 0;
    float: right;
}
#sidebar .sidebar-lead{
    width: 80%;
    border-bottom:6px solid #ebebeb;
}
#sidebar .sidebar-lead .articles{
    font-size: 20px;
    font-weight: bold;
    position: relative;
}
#sidebar .sidebar-lead .articles:after{
    content: "";
    background: #b84592;
    padding: 3px 0;
    width: 30%;
    position: absolute;
    bottom: -6px;
    right: 0;
}
#sidebar .new-productions{
    border: 1px solid #eaeaea;
    box-shadow: 1px 1px #d0d0d0;
    border-radius: 1px;
    padding: 18px 10% 10px 5px;
    list-style: none;
    margin-top: 50px;
    height: 380px;
    background: white;
}
#sidebar .new-productions .productions-lead{
    font-weight: bold;
}
#sidebar .new-productions ul{
    padding-top: 16px;
}
#sidebar .new-productions ul li{
     position: relative;
     padding: 11px 8px 11px 8px;
     font-size: 12px;
    font-weight: bold;
}
#sidebar .new-productions ul li:before{
      content: "";
      border:3px solid #b84592;
      border-radius: 10px;
      position: absolute;
      right: -5px;
      bottom: 13px;
}
#sidebar .new-productions ul li a{
    color: #6c6c6c;
}
#sidebar .new-productions ul li:hover a{
    color:#b84592;
}

#sidebar .about-productions{

    border: 1px solid #eaeaea;
    box-shadow: 1px 1px #d0d0d0;
    border-radius: 1px;
    padding: 18px 10% 10px 5px;
    list-style: none;
    margin-top: 50px;
    height: 380px;
    background: white;
    margin-bottom: 40px;
}
#sidebar .about-productions .about-productions-lead{
    font-weight: bold;
}
#sidebar .about-productions ul{
    padding-top: 16px;
}
#sidebar .about-productions ul li{
    position: relative;
    padding: 11px 8px 11px 8px;
    font-size: 12px;
    font-weight: bold;
}
#sidebar .about-productions ul li:before{
    content: "";
    border:3px solid #b84592;
    border-radius: 10px;
    position: absolute;
    right: -5px;
    bottom: 13px;
}
#sidebar .about-productions ul li a{
    color: #6c6c6c;
}
#sidebar .about-productions ul li:hover a{
    color:#b84592;
}